<h1>Menu#index</h1>
<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<form class="form-inline">
  <div class="form-group">
   <ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section && 'active'}" %>
  <% end %>
    </li>
</ul>
  </div>
  <div class="form-group">
    <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <% @sections.each do |section| %>
    <%=link_to "#{section} Sort By",menu_path(:sort_param => "name",section: section),class: "dropdown-item"%>
    <%end%>
    <% ['price'].each do |column| %>
    <%=link_to "Sort by #{column} ASC",menu_path(:sort_param => "price DESC"),class: "dropdown-item"%>
    <%=link_to "Sort by #{column} DESC",menu_path(:sort_param => "price ASC"),class: "dropdown-item"%>
    <%end%>
    <div class="dropdown-divider"></div>
     <% @cuisines.each do |cuisine| %>
    <a class="dropdown-item" href="#"><%= link_to cuisine,menu_path(cuisine: cuisine) %></a>
    <%end%>
  </div>
</div>
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
    </div>
</form>

<% @food_items.each do |item|%>
<div class="card" style="margin-top:50px">
  <div class="card-block">
    <%= link_to item.name, food_item_path(item), class: 'btn btn-default' %>
    <%= number_to_currency item.price%>
    <%= item.cuisine %>
    <span class="label label-info total-count">
      View Counts:<%= item.impressions_count %>
           </span>
    <%= link_to 'Order Now', new_order_path(id: item.id), class: 'btn btn-primary' %>
  </div>
  <div class="card-block">
    <%= image_tag item.image_url_or_auto%>
  </div>
</div>
<% end %>

<script>
$('.dropdown-toggle').dropdown()
</script>
